*{
    margin: 0;
    padding: 0;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal; }
.main{
    height: 100dvh;
    /* background-image:linear-gradient(to bottom,transparent,rgba(0, 0, 0, 0.6)), url("../img/dark/valentin-muller-bWtd1ZyEy6w-unsplash.jpg"); */
    background-image:linear-gradient(to bottom,transparent,rgba(0, 0, 0, 0.6)), url("../img/dark/jr-korpa-351cPhSfl6g-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    /* left */
    .left{
        width: 80%;
        display: flex;
        flex-direction: column;

        .left_content{
            position: relative;
            display: flex;
            height: 65%;
            padding: 10px 20px 0px 10px;
            
            

            .today_highlights{
                background-color: rgba(77, 98, 99, 0.12);
                backdrop-filter: blur(3px);
                width: 168dvh;
                height: 50dvh;
                border-radius: 20px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                & h3{
                    font-size: 20px;
                    font-weight: 500;
                    color:  rgba(231, 228, 228, 0.604);
                    text-transform: capitalize;
                }
                    .divone{
                    display: flex;
                    gap: 10px;

                    .air_quality{
                        background-color: rgba(77, 98, 99, 0.12);
                        backdrop-filter: blur(3px);
                        height: 150px;
                        border-radius: 20px;
                        flex: 1; 
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: center;

                        & h6{
                            padding-left: 30px;
                            font-size: 17px;
                            font-weight: 500;
                            color:  rgba(231, 228, 228, 0.504);
                            text-transform: capitalize;
                        }
                        .air_quality_details{
                            padding: 20px 30px ;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;

                            & i{
                                font-size: 30px;
                                color: rgba(214, 214, 214, 0.918);
                            }
                            & ruby{
                                font-size: 25px;
                                font-weight: 500;
                                color: rgba(214, 214, 214, 0.918);

                            }
                        }
                    }
                    .sunrise_sunset{
                        display: flex;
                        flex: 1;
                        background-color: rgba(77, 98, 99, 0.12);
                        backdrop-filter: blur(3px);
                        border-radius: 20px;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: center;
                        & h6{
                            padding-left: 30px;
                            font-size: 17px;
                            font-weight: 500;
                            color:  rgba(231, 228, 228, 0.504);
                            text-transform: capitalize;
                        }
                        .sunrise_sunset_details{
                            padding: 20px 30px ;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;

                            .sunrise {
                                display: flex;
                                gap: 15px;
                                & i{
                                    font-size: 35px;
                                    color: rgba(214, 214, 214, 0.918);
                                }
                                & ruby{
                                    font-size: 25px;
                                    font-weight: 500;
                                    color: rgba(214, 214, 214, 0.918);
    
                                }
                            }
                            .sunset{
                                display: flex;
                                gap: 15px;
                                & i{
                                    font-size: 30px;
                                    color: rgba(214, 214, 214, 0.918);
                                }
                                & ruby{
                                    font-size: 25px;
                                    font-weight: 500;
                                    color: rgba(214, 214, 214, 0.918);
    
                                }
                            }
                        }
                    }
                }
                
                .divtwo {
                    display: flex;
                    gap: 10px;


                    .all {
                        flex: 1; 
                        background-color: rgba(77, 98, 99, 0.12);
                        backdrop-filter: blur(3px);
                        height: 100px;
                        border-radius: 20px;

                        & h6{
                            padding-top: 10px;
                            padding-left: 30px;
                            font-size: 17px;
                            font-weight: 500;
                            color:  rgba(231, 228, 228, 0.504);
                            text-transform: capitalize;
                        }

                        & div{
                            display: flex;
                            gap: 15px;
                            padding: 20px 30px ;
                            justify-content: space-around;
                            & i{
                                font-size: 30px;
                                color: rgba(214, 214, 214, 0.918);
                            }
                            & ruby{
                                font-size: 25px;
                                font-weight: 500;
                                color: rgba(214, 214, 214, 0.918);

                            }
                        }
                    }
                }
                
               
            }       
         & p{
            position: absolute;
            bottom: -30px;
            right: 0;
            font-size: 35px;
            padding-bottom: 40px;
            padding-right: 20px;
            background-image: linear-gradient(to bottom, rgba(231, 228, 228, 0.904), rgba(168, 168, 168, 0));
            background-clip: text;  
            color: transparent;
         }

        }


        .left_content::before{
            content: ' ';
            border: 1px solid rgba(168, 167, 167, 0.836);
            position: absolute;
            bottom: 0px;
            right: 28px;
            width: 95%;
        }
        }
        .left_footer{
            display: flex;
            flex:1 1 auto;
            justify-content: space-evenly;
            align-items: center;
            
            & div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                color: white;
                padding: 10px 20px 20px 20px;
                border-radius: 10px;
                height:90px;
                background-color: rgba(77, 98, 99, 0.20);
                backdrop-filter: blur(3px);

                & i{
                    font-size: 25px;
                    background-color: rgba(77, 98, 99, 0.7);
                    padding: 5px 7px;
                    border-radius:8px;
                }
                & h6{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & div:hover{
                background-color: rgba(77, 98, 99, 0.40);

            }
        }
    }
    /* end left */
    /* right */
    .right{
        
        display: flex;
        flex: 1 0 auto;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5px;
        padding-right: 10px;
        .city{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 250px;
            width: 100%;
            background-color: rgba(77, 98, 99, 0.12);
            backdrop-filter: blur(3px);
            border-radius: 20px;
            & h3{
                position: absolute;
                top: 25px;
                left: 30px;
                font-size: 18px;
                font-weight: 500;
                text-transform: capitalize ;
            }
            .status{
                position: absolute;
                left: 50px;
                bottom:65px;
                font-size: clamp(12px,2vw,16px);
                font-weight: 500;
            }
            .degree{
                display: flex;
                gap: 20px;
                align-items: center;
                & p{
                    font-size: 35px;
                    font-weight: 500;
                }
                & i{
                    font-size: 70px;
                }
            }
            
            & span {
                position: absolute;
                bottom: 25px;
                left: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                &  p{
                    font-size: clamp(12px,2vw,17px);
                    font-weight: 500;

                }
                
            }
            & span::before{
                content: ' ';
                border: 1px solid rgba(168, 167, 167, 0.536);
                position: absolute;
                top: -9px;
                left: 0px;
                width: 160px;

            }
            
        }
    }
    /* end right */
/*end main*/
.head{
    width: 99.5%;
    height: 60px;
    padding: 15px 0px 0px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    z-index: 100 ;
}
.search-box{
    position: relative;
    width: 40%;
    top: 5%;
    left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 98, 99, 0.20 );
    backdrop-filter: blur(1px);
    padding: 7px;
    border-radius: 8px;
}
.search-box input{
    position: absolute;
    width: 75%;
    height: 70%;
    background: transparent;
    border: 1px solid rgba(77, 98, 99, 0.7);
    border-radius: 7px;
    padding: 0px 10px;
    outline: none;  
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}
.search-box i{
    position: absolute;
    left: 15px;
    font-size: 25px;
    color: white;
    font-weight: 800;
}
.search-box button{
    position: absolute;
    background-color: transparent;
    right: 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i{
        left: -10px;
    }
}

.date{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: flex;
    gap: 5px;
    justify-content:center ;
    align-items: center;
    border-radius: 8px;
    
    & span::before{
        content: ' ';
        border: 1px solid rgba(141, 141, 141, 0.445);
        position: absolute;
        right:90px;
        top: 22px;
        bottom:18px;

    }
}

.next_days_forecast{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(77, 98, 99, 0.12);
    backdrop-filter: blur(3px);
    min-height: 350px;
    border-radius: 20px;
    
    & h3{
        position: absolute;
        top: 20px;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
    }
}
/* .next_days_forecast .next_days{
    position: absolute;
    top: 60px;
    display: flex;
    gap: 15px;
    
    & a{
        color: white;
        text-decoration: none;
        background-color: rgba(77, 98, 99, 0.5);
        padding: 5px ;
        border-radius: 10px;
    }
} */
.next_days_forecast .details{
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & div{
        display: flex;
        gap: 15px;
        justify-content: space-between;
        padding: 2px 10px;
        border-radius: 8px;
        & i{
            font-size: 25px;
            background-color: rgba(77, 98, 99, 0.7);
            padding: 5px 6px ;
            border-radius:8px;
        }
        & span:nth-child(2){
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            & h6{
                
                font-size: 15px;
                font-weight: 500;
                text-transform: capitalize
            }
            & p{
                font-size: 13px;
                font-weight: 400;
                text-transform: capitalize
            }
            }
        
            & span:nth-child(2)::after{
                content: ' ';
                border: 1px solid rgba(141, 141, 141, 0.445);
                position: absolute;
                right:-10px;
                top: 2px;
                bottom:3px;
            }
             & span:nth-child(3){
                font-size: 17px;
                font-weight: 400;
        }
        
        }
        & div:hover{
            background-color: rgba(77, 98, 99, 0.30);
        }
    }

